
.cont-artmachine {
    .cont-carousel {
        position: relative;
        margin: 15px auto;
        .display-carousel{
            margin: 0 auto;
            height: 280px;
            width: 200px;
            border: 5px inset $color-main;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
            background-color: $color-bg;
        }
        .btn-carousel {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;
            cursor: pointer;
            img{
                width: 30px;
            }
        }
        .btn-carousel.left{
            left: 0;
        }
        .btn-carousel.right{
            right: 0;
            transform: translateY(-50%) rotateY(180deg);
        }
    }

    .cont-buy {
        padding: 0 20px;
        .cont-dashboard{
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 45px 45px 120px;
            gap:10px;
            width: 350px;
            margin: 10px auto;
            text-align: center;
            .dashboard-balance{
                background-color: $color-main;
                border-radius: 5px;
                color: $color-font-white;
                font-family: $font-mid ;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
            }
            .btn-return,
            .btn-put{
                font-family: $font-mid;
                @include btn-border;
            }
            .inp-put{
                @include btn-border;
                padding: 0 15px;
                font-family: $font-mid ;
            }
        }
        .btn-buy{
            background-color: $color-second;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
            color: $color-font-white;
            font-family: $font-mid ;
            @include flex-center;
            border:none;
        }
    }
}

